@use "../../../style/ui-colors";

:host {
  height: 40px;
}

::ng-deep {
  .mat-menu-panel.header-subtiredd-menu {
    max-width: none;
    width: 275px;
    max-height: 40vh;
  }
}

.trigger {
  display: flex;
  height: 38px;
  width: 273px;
  border: 1px solid ui-colors.$header-subtiredd-select-border;
  border-radius: 4px;
  justify-content: space-between;
  cursor: pointer;

  .current-location {
    display: flex;
    align-items: center;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
  }

  .arrow {
    width: 20px;
    margin-right: 10px;

    span {
      line-height: 38px;
    }
  }
}

.filter {
  height: 30px;
  padding: 0 10px;
  margin: 15px 0;

  input {
    line-height: 24px;
    font-size: 16px;
    width: calc(100% - 22px);
    outline: none;
    padding: 4px 10px;
    border: 1px solid ui-colors.$header-subtiredd-filter-border;

    &:hover, &:focus {
      border-color: ui-colors.$header-subtiredd-filter-border-focus;
    }
  }


}

.select-item {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.icon {
  padding-left: 4px;
  display: block;
  font-size: 30px;
}

.item-name {
  margin-left: 5px;
  text-overflow: ellipsis;
}

trd-community-avatar {
  display: inline-block;
  transform: scale(0.7, 0.7);
}
