<div class="trigger" [matMenuTriggerFor]="menu" (menuOpened)="onOpen()">
  <div class="current-location unselectable">
    <trd-community-avatar *ngIf="!selectedSubtireddSelectItem.icon"
                          [communityName]="selectedSubtireddSelectItem.name.substr(2)"></trd-community-avatar>
    <span *ngIf="selectedSubtireddSelectItem.icon" class="material-icons icon">{{selectedSubtireddSelectItem.icon}}</span>
    <span class="item-name">{{selectedSubtireddSelectItem.name | translate}}</span>
  </div>
  <div class="arrow unselectable">
    <span class="material-icons">expand_more</span>
  </div>
</div>
<mat-menu #menu="matMenu" class="header-subtiredd-menu">
  <div class="filter" (click)="$event.stopPropagation();">
    <input [(ngModel)]="searchFilter" (input)="onSearchChange()"
           #searchInput (blur)="searchInput.focus()" [placeholder]="'filter' | translate">
  </div>
  <div class="select-item" *ngFor="let displayedItem of displayedSubtireddSelectItems" mat-menu-item
       (click)="displayedItem.onClick(displayedItem.url)">
    <trd-community-avatar *ngIf="!displayedItem.icon"
                          [communityName]="displayedItem.name.substr(2)"></trd-community-avatar>
    <span *ngIf="displayedItem.icon" class="material-icons icon">{{displayedItem.icon}}</span>
    <span class="item-name">{{displayedItem.name}}</span>
  </div>
</mat-menu>
