:host {
  width: 100%;
}

.title-row {
  margin-top: 20px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  margin-top: auto;
}

.message {
  margin-top: 50px;
  font-size: 16px;
  width: 50%;
}

.close-icon {
  margin-right: 20px;
  cursor: pointer;
}
