@use "../../../../style/ui-colors";

:host {
  display: block;
  width: 100%;
}

trd-register-form {
  padding-top: 30px;
}

.footer {
  font-size: 14px;
  margin-top: 15px;
}

.log-in-link {
  color: ui-colors.$account-dialog-mode-link;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 500;
}
