@use "../../../../style/ui-colors";

:host {
  display: block;
  width: 100%;
}

trd-register-form {
  padding-top: 30px;
}

.footer {
  font-size: 14px;
  margin-top: 15px;
}

.log-in-link {
  color: ui-colors.$account-dialog-mode-link;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 500;
}

button {
  margin-top: 40px;
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: ui-colors.$account-dialog-button;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: ui-colors.$account-dialog-button-hover;

  }
}

