@use "../../../../style/ui-colors";

:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.modal-container {
  display: flex;
  flex-grow: 1;
  padding-left: 30px;
}


.sidepanel {
  height: 100%;
  width: 20%;
  border-right: 1px solid black;
  background-color:  ui-colors.$account-dialog-sidepanel;
}
