@use "../../../style/ui-colors";

div {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid ui-colors.$light-gray;
}
