@use "../../../style/ui-colors";

div {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  background-color: ui-colors.$user-avatar-background;
  text-align: center;
  cursor: pointer;
}
