<div class="trigger" [matMenuTriggerFor]="menu" (menuOpened)="onOpen()">
  <div class="current-location unselectable">t/{{selectedSubtiredd.name}}</div>
  <div class="arrow unselectable">
    <span class="material-icons">expand_more</span>
  </div>
</div>
<mat-menu #menu="matMenu" class="subtiredd-menu">
  <div class="filter" (click)="$event.stopPropagation();">
    <input [(ngModel)]="searchFilter" (input)="onSearchChange()"
           #searchInput (blur)="searchInput.focus()" [placeholder]="'filter' | translate">
  </div>
  <div *ngFor="let displayedItem of displayedSubtireddSelectItems" class="select-item">
    <div class="select-item-info" (click)="onSubtireddSelected(displayedItem)">
      <trd-community-avatar [communityName]="displayedItem.name"></trd-community-avatar>
      <p class="select-item-text">
        t/{{displayedItem.name}}</p>
    </div>
  </div>
</mat-menu>

