@use "../../../style/ui-colors";

:host {
  display: flex;
  margin: 10px 0 10px;
}

.trending-today {
  margin: 10px 0 10px 0;
}

.trending-today-content {
  display: flex;
  width: 100%;
  margin: auto;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.post-image-shadow {
  position: relative;
  top: -174px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -160px 70px -70px ui-colors.$trending-today-image-shadow;
  border-radius: 10px;
}

.trending-post {
  height: 170px;
  max-width: 325px;
  margin: 0 6px;
  cursor: pointer;
}

.post-title, .post-excerpt, .post-subtiredd {
  width: 200px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post-title {
  position: relative;
  top: -260px;
  left: 10px;
  font-size: 24px;
  color: ui-colors.$trending-today-text-color;
}

.lower-title {
  top: -240px;
}

.post-excerpt {
  position: relative;
  top: -260px;
  left: 10px;
  font-size: 16px;
  color: ui-colors.$trending-today-text-color;
}

.post-subtiredd {
  position: relative;
  top: -255px;
  left: 12px;
  font-size: 12px;
  color: ui-colors.$trending-today-text-color;
}

.trending-today-text {
  display: flex;
  margin: 0 auto 3px auto;
  width: 100%;
  padding-left: 5px;
}
