@use "../../../style/ui-colors";

:host {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  padding: 20px 0;
}

span {
  padding-bottom: 3px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 30px;
}

trd-comments {
  margin: 20px 0;
}

trd-post-community-details {
  width: 30%;
}

.error-message {
  color: ui-colors.$post-page-error-message;
  font-size: 18px;
  text-align: center;
}
