$black: #060606;
$dark-blue: #242a3d;
$bright-blue: #2196f3;
$blue: #5a6488;
$light-blue: #99a5df;
$ultra-light-blue: #d2dcea;
$light-gray: #b3b3b3;
$almost-white-blue: #eef1f7;
$white: #ffffff;
$red: #ff0000;
