@import "palette";

$main-background: $ultra-light-blue;

$header-border: $black;
$header-background: $white;

$log-in-button-border: $light-blue;
$log-in-button-background: $white;
$sign-up-button-background: $ultra-light-blue;

$searchbar-border: $black;
$searchbar-border-focus: $bright-blue;

$header-subtiredd-select-border: $black;
$header-subtiredd-filter-border: $black;
$header-subtiredd-filter-border-focus: $bright-blue;

$language-picker-border: $blue;

$post-list-item-background: $white;
$post-list-item-border: $light-gray;
$post-list-item-border-hover: $dark-blue;
$votes-sidebar-background: $light-blue;
$post-list-item-text: $dark-blue;
$post-list-item-light-text: $light-blue;
$post-list-item-light-text-hover: $blue;

$post-list-order-picker-background: $white;
$post-list-order-picker-border: $light-gray;
$order-button-border: $light-blue;
$order-button-background: $white;
$order-button-text: $light-blue;
$selected-order-button-background: $ultra-light-blue;
$selected-order-button-background-hover: $light-blue;
$selected-order-button-text: $dark-blue;

$popular-communities-background: $white;
$popular-communities-border: $light-gray;
$popular-communities-image-shadow: $black;
$popular-communities-header-text-color: $white;
$popular-communities-item-border: $light-gray;
$view-all-communities-button-background: $ultra-light-blue;
$join-community-button-background: $ultra-light-blue;

$trending-today-image-shadow: $black;
$trending-today-text-color: $white;

$account-dialog-sidepanel: $light-blue;
$account-dialog-button: $ultra-light-blue;
$account-dialog-button-hover: $light-blue;
$account-dialog-mat-form-field: $light-blue;
$account-dialog-mode-link: $light-blue;
$account-dialog-button-text: $black;
$account-dialog-error: $red;

$create-post-background: $white;
$create-post-border: $light-gray;
$create-post-input-border: $light-gray;
$create-post-input-border-hover: $bright-blue;

$create-post-modal-input-border: $light-gray;
$create-post-modal-input-border-hover: $bright-blue;
$create-post-modal-button-background: $ultra-light-blue;
$create-post-modal-button-background-hover: $light-blue;
$create-post-modal-button-text: $dark-blue;
$create-post-modal-button-text-disabled: $light-gray;

$create-post-subtiredd-select-border: $light-gray;
$create-post-subtiredd-select-border-focus: $bright-blue;
$create-post-subtiredd-filter-border: $light-gray;
$create-post-subtiredd-filter-border-focus: $bright-blue;
$create-post-select-item-border: $light-gray;
$create-post-select-item-hover: $ultra-light-blue;

$create-post-tab-background-active: $ultra-light-blue;
$create-post-tab-text-active: $dark-blue;
$create-post-tab-ink-bar: $blue;

$comments-border: $light-gray;
$comments-background: $white;
$add-comment-button-background: $ultra-light-blue;
$add-comment-input-decorations: $light-blue;
$comment-line-background: $light-blue;
$comment-light-text: $light-blue;
$comment-light-text-hover: $blue;

$community-details-border: $light-gray;
$community-details-background: $white;
