@import "palette";

$main-background: $ultra-light-blue;

$header-border: $black;
$header-background: $white;

$log-in-button-border: $light-blue;
$log-in-button-background: $white;
$sign-up-button-background: $ultra-light-blue;

$searchbar-border: $black;
$searchbar-border-focus: $bright-blue;

$subtiredd-select-border: $black;
$subtiredd-filter-border: $black;
$subtiredd-filter-border-focus: $bright-blue;

$user-avatar-background: $light-blue;

$language-picker-border: $blue;

$post-list-item-background: $white;
$post-list-item-border: $light-gray;
$votes-sidebar-background: $light-blue;
$post-list-item-text: $dark-blue;
$post-list-item-light-text: $light-blue;
$post-list-item-light-text-hover: $blue;

$post-list-order-picker-background: $white;
$post-list-order-picker-border: $light-gray;
$order-button-border: $light-blue;
$order-button-background: $white;
$order-button-text: $light-blue;
$selected-order-button-background: $ultra-light-blue;
$selected-order-button-text: $dark-blue;

