@import "palette";

$main-background: $ultra-light-blue;

$header-border: $black;
$header-background: $white;

$log-in-button-border: $light-blue;
$log-in-button-background: $white;
$sign-up-button-background: $ultra-light-blue;
