@import "palette";

$main-background: $ultra-light-blue;

$header-border: $black;
$header-background: $white;

$log-in-button-border: $light-blue;
$log-in-button-background: $white;
$sign-up-button-background: $ultra-light-blue;

$searchbar-border: $black;
$searchbar-border-focus: $bright-blue;

$subtiredd-select-border: $black;
$subtiredd-filter-border: $black;
$subtiredd-filter-border-focus: $bright-blue;

$user-avatar-background: $light-blue;

$language-picker-border: $blue;

$post-list-background: $white;
$post-list-item-border: $light-gray;
$votes-sidebar-background: $light-blue;
$post-list-item-text: $dark-blue;
$post-list-item-light-text: $light-blue;
$post-list-item-light-text-hover: $blue;

$account-dialog-sidepanel: $light-blue;
$account-dialog-button: $ultra-light-blue;
$account-dialog-button-hover: $light-blue;
