@use "../../../../style/ui-colors";

:host {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 1px auto;
  border-radius: 3px;
  border: 1px solid ui-colors.$popular-communities-border;
  background-color: ui-colors.$popular-communities-background;
}

.popular-communities-header {
  height: 90px;
  position: relative;
}

.header-image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -80px 50px -50px ui-colors.$popular-communities-image-shadow;
}

.popular-communities-header-text {
  position: absolute;
  left: 16px;
  bottom: 12px;
  font-size: 24px;
  color: ui-colors.$popular-communities-header-text-color;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}

.center-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.join-community-button {
  border: none;
  background-color: ui-colors.$join-community-button-background;
  width: 90px;
  margin: 0 20px 0 auto;

  &:hover {
    background-color: ui-colors.$light-blue;
  }
}

button {
  height: 30px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.popular-communities-contents {
  width: 100%;
}

.popular-communities-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: 1px solid ui-colors.$popular-communities-item-border;
  padding: 8px 0;
}

.popular-communities-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;

  &:hover {
    .underline-on-hover {
      text-decoration: underline;
    }
  }
}

.popular-communities-item-text {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}
