@use "../../../../style/ui-colors";

:host {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 1px auto;
  border-radius: 3px;
  border: 1px solid ui-colors.$community-details-border;
  background-color: ui-colors.$community-details-background;
  cursor: pointer;
}

.header {
  height: 90px;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}

.avatar-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 25px 30px;
}

.name-text {
  margin: 0 20px;
  font-size: 22px;
}

trd-community-avatar {
  transform: scale(1.5, 1.5);
}

.content {
  margin: 15px 20px;
}

.description {
  font-size: 14px;
  text-align: justify;
}

.membersInfo {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.number {
  display: flex;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

.members {
  display: flex;
  margin: auto;
}

.createdAt {
  display: flex;
  margin: 15px auto 0;
  align-items: center;
}

.date {
  margin-left: 5px;
  padding-top: 3px;
}
