<div [routerLink]="['/t', community.name]" class="contents">
  <div class="header">
    <img alt="" src="{{community.imageUrl}}">
  </div>
  <div class="avatar-and-name">
    <trd-community-avatar [communityName]="community.name"></trd-community-avatar>
    <p class="name-text">t/{{community.name}}</p>
  </div>
  <div class="content">
    <div class="description">{{community.description}}</div>
    <div class="membersInfo">
      <span class="number">{{community.userCount | number}}</span>
      <span class="members">{{"ofMembers" | translate}}</span>
    </div>
    <div class="createdAt">
      <span class="material-icons">cake</span>
      <span class="date">{{"created" | translate}} {{community.createdAt | localizedDate:'d MMM y'}}</span>
    </div>
    <button (click)="onMembershipClick($event)" (mouseover)="isMouseOver=true" (mouseout)="isMouseOver=false"
            [disabled]="!membershipButtonEnabled || isUserAdmin">
      {{(hasUserJoined ? (isMouseOver ? "leave" : "joined") : "joinCommunity") | translate}}
    </button>
  </div>
</div>
