::ng-deep {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill div.mat-form-field-flex {
    background-color: transparent;
    padding: 0;
  }

  div.mat-form-field-flex {
    width: 40px;
  }

  .mat-select-arrow {
    color: transparent;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: transparent;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    border: 0;
    padding: 0;
  }
}
