@use "../../../../style/ui-colors";

:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;

  ::ng-deep {
    mat-form-field:not(.mat-form-field-invalid).mat-focused {
      .mat-form-field-label {
        color: ui-colors.$account-dialog-mat-form-field;
      }

      .mat-form-field-ripple {
        background-color: ui-colors.$account-dialog-mat-form-field;
      }
    }
  }
}

mat-form-field {
  width: 40%;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: ui-colors.$account-dialog-button;
  font-size: 18px;

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    color: ui-colors.$account-dialog-button-text;
  }

  &:hover:enabled {
    background-color: ui-colors.$account-dialog-button-hover;

  }
}
