<header>
  <div>
    <img class="home-logo" [routerLink]="['home']" src="assets/images/logo.PNG" alt="logo">
    <trd-header-subtiredd-select *ngIf="isUserLoggedIn$ | async">
    </trd-header-subtiredd-select>
  </div>
  <trd-searchbar></trd-searchbar>
  <div>
    <button *ngIf="!(isUserLoggedIn$ | async)" class="log-in-button"
            (click)="openAccountModal('login')">{{"logIn" | translate}}</button>
    <button *ngIf="!(isUserLoggedIn$ | async)" class="sign-up-button"
            (click)="openAccountModal('register')">{{"signUp" | translate}}</button>
    <trd-language-picker></trd-language-picker>
    <trd-header-user-avatar *ngIf="isUserLoggedIn$ | async" [userName]="(user$ | async).userName" (userLoggedOut)="onLogOut()"></trd-header-user-avatar>
  </div>
</header>
