<header>
  <div class="home-logo" [routerLink]="['home']">
    <img src="assets/images/logo.PNG" alt="logo">
    <trd-subtiredd-select *ngIf="userLoggedIn">
    </trd-subtiredd-select>
  </div>
  <trd-searchbar></trd-searchbar>
  <div>
    <button *ngIf="!userLoggedIn" class="log-in-button" (click)="onLogIn()">{{"logIn" | translate}}</button>
    <button *ngIf="!userLoggedIn" class="sign-up-button">{{"signUp" | translate}}</button>
    <trd-language-picker></trd-language-picker>
    <trd-user-avatar *ngIf="userLoggedIn" (userLoggedOut)="onLogOut()"></trd-user-avatar>
  </div>
</header>
