@use "../../../style/ui-colors";


:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid ui-colors.$header-border;
  background-color: ui-colors.$header-background;
}


header {
  display: flex;
  width: 100%;
  margin: auto 0;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 40px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 30px;
  font-size: 24px;
  cursor: pointer;

}

.log-in-button {
  background-color: ui-colors.$log-in-button-background;
  border: 1px solid ui-colors.$log-in-button-border;
  margin: 0 10px 0 40px;

  &:hover {
    padding-right: 29px;
    padding-left: 29px;
    border-width: 2px;
  }
}

.sign-up-button {
  border: none;
  background-color: ui-colors.$sign-up-button-background;
  margin: 0 10px;

  &:hover {
    background-color: ui-colors.$light-blue;
  }
}

trd-language-picker {
  margin: auto 10px;
}

trd-header-subtiredd-select {
  margin-right: 20px;
}

trd-header-user-avatar {
  margin-right: 20px;
}

img {
  width: 140px;
  height: 50px;
  margin: 0 20px;
}

div {
  align-items: center;
  display: flex;
}

.home-logo {
  cursor: pointer;
}
