@use "../../../style/ui-colors";

:host {
  display: flex;
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid ui-colors.$post-list-item-border;
  background-color: ui-colors.$post-list-background;
}

.votes-sidebar {
  background-color: ui-colors.$votes-sidebar-background;
  width: 60px;
}

.arrow-icon {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: url("../../../assets/icons/arrow.png") 0 0 / 25px 25px no-repeat;

  &:hover {
    background: url("../../../assets/icons/arrow-light.png") 0 0 / 25px 25px no-repeat;
  }

  &.selected {
    background: url("../../../assets/icons/arrow-filled.png") 0 0 / 25px 25px no-repeat;
  }

  &.selected:hover {
    background: url("../../../assets/icons/arrow-filled-light.png") 0 0 / 25px 25px no-repeat;
  }
}

.rotate180 {
  transform: rotate(180deg);
}

.score-text {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: ui-colors.$post-list-item-text;
}

.post-contents {
  width: 100%;
  margin-left: 15px;
  margin-right: 10px;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 7px;
}

.subtiredd-name {
  text-align: left;
  color: ui-colors.$post-list-item-text;
}

.time-text {
  text-align: right;
  color: ui-colors.$post-list-item-light-text;
}

.post-title {
  font-size: 24px;
  margin-top: 10px;
}

.post-image {
  display: flex;
  max-width: 90%;
  margin: 15px auto;
}

.post-text {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 30px;
  text-align: justify;
}

.comments {
  display: flex;
  margin-bottom: 7px;
  color: ui-colors.$post-list-item-light-text;
  cursor: pointer;

  &:hover {
    color: ui-colors.$post-list-item-light-text-hover;
  }
}
