<div class="post" [ngClass]="{'clickable-post': addRoutesToPost}" [routerLink]="['/t', post.subtireddName, post.id]">
  <div class="votes-sidebar">
    <div class="arrow-icon" [ngClass]="{'selected': post.userVote === 'UpVote'}"></div>
    <p class="score-text">{{post.score}}</p>
    <div class="arrow-icon rotate180" [ngClass]="{'selected': post.userVote === 'DownVote'}"></div>
  </div>
  <div class="post-contents">
    <div class="post-info">
      <div>
        <span class="subtiredd-name" [routerLink]="['/t', post.subtireddName]">t/{{post.subtireddName}}</span>
        <span class="dot-separator">•</span>
        <span class="posted-by">{{"postedBy" | translate}} u/{{post.authorName}}</span>
      </div>
      <p class="time-text">{{post.createdAt | localizedDate:'d MMM y, H:mm '}}</p>
    </div>
    <p class="post-title">{{post.title}}</p>
    <img *ngIf="post.imageUrl" src="{{post.imageUrl}}" alt="image" class="post-image">
    <p *ngIf="!post.imageUrl" class="post-text">{{post.text}}</p>
    <div *ngIf="addRoutesToPost" class="comments" [routerLink]="['/t', post.subtireddName, post.id]"
         [fragment]="'comments'">
      <span class="material-icons">comment</span>
      {{"comments" | translate}}
    </div>
  </div>
</div>
