<div class="votes-sidebar">
  <div class="arrow-icon" [ngClass]="{'selected': postInfo.userVote === 'upVote'}"></div>
  <p class="score-text">{{postInfo.score}}</p>
  <div class="arrow-icon rotate180" [ngClass]="{'selected': postInfo.userVote === 'downVote'}"></div>
</div>
<div class="post-contents">
  <div class="post-info">
    <p class="subtiredd-name">{{postInfo.subtireddName}}</p>
    <p class="time-text">{{postInfo.timestamp | date:'d MMM y, H:mm '}}</p>
  </div>
  <p class="post-title">{{postInfo.title}}</p>
  <img src="assets/images/placeholder.jpg" alt="image" class="post-image">
  <div class="comments">
    <span class="material-icons">comment</span>
    {{"comments" | translate}}
  </div>
</div>
