<img src="{{imageUrl}}" alt="image">
<div class="title-banner">
  <div class="title-banner-content">
    <trd-community-avatar [communityName]="subtireddName"></trd-community-avatar>
    <span class="title">{{subtireddName}}</span>
    <button (click)="onJoinClick()" (mouseover)="changeText=true" (mouseout)="changeText=false">
      <span *ngIf="!hasUserJoined">{{"joinCommunity" | translate}}</span>
      <span *ngIf="hasUserJoined && !changeText">{{"joined" | translate}}</span>
      <span *ngIf="hasUserJoined && changeText">{{"leave" | translate}}</span>
    </button>
  </div>
</div>
