<img src="{{imageUrl}}" alt="image">
<div class="title-banner">
  <div class="title-banner-content">
    <trd-community-avatar [communityName]="subtireddName"></trd-community-avatar>
    <span class="title">{{subtireddName}}</span>
    <button (click)="onMembershipClick($event)" (mouseover)="isMouseOver=true" (mouseout)="isMouseOver=false"
            [disabled]="!membershipButtonEnabled">
      {{(hasUserJoined ? (isMouseOver ? "leave" : "joined") : "joinCommunity") | translate}}
    </button>
  </div>
</div>
