@use "../../../style/ui-colors";

:host {
  display: flex;
  height: calc(100vh - 71px);
  width: 100%;

  justify-content: center;
  align-content: center;
}

mat-progress-spinner {
  margin: auto;
}

::ng-deep.mat-progress-spinner.mat-accent circle {
  stroke: ui-colors.$page-loader-stroke;
}
