@use "../../../style/ui-colors";

:host {
  max-width: 50%;
  display: flex;
  width: auto;
  flex-grow: 1;
}

input {
  font-size: 18px;
  width: calc(100% - 70px);
  height: 38px;
  border: 1px solid ui-colors.$searchbar-border;
  border-radius: 32px;
  padding: 0 35px;
  outline: none;
  background: url("../../../assets/icons/search-icon.svg") no-repeat 10px 10px/20px 20px;


  &:hover {
    border-color: ui-colors.$searchbar-border-focus;
  }

  &:focus {
    border-color: ui-colors.$searchbar-border-focus;
  }

}
