<div class="item">
  <div class="item-info" [routerLink]="['/t', community.name]">
    <p class="item-text">{{index + 1}}</p>
    <trd-community-avatar [communityName]="community.name"></trd-community-avatar>
    <p class="item-text underline-on-hover">
      t/{{community.name}}</p>
  </div>
  <button class="join-community-button" (click)="onMembershipClick($event)" (mouseover)="isMouseOver=true"
          (mouseout)="isMouseOver=false" [disabled]="!membershipButtonEnabled">
    {{(hasUserJoined ? (isMouseOver ? "leave" : "joined") : "joinCommunity") | translate}}
  </button>
</div>
