@use "../../../style/ui-colors";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.close-icon {
  font-size: 30px;
  cursor: pointer;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  height: 30px;
  align-items: center;

}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: ui-colors.$create-post-tab-background-active;
  color: ui-colors.$create-post-tab-text-active;
  opacity: 1;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: ui-colors.$create-post-tab-ink-bar;
  height: 3px;
}

.mat-tab-group {
  margin: auto 0;
}

.tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 15px;
}

.text-input {
  border: 1px solid ui-colors.$create-post-modal-input-border;
  outline: none;
  border-radius: 5px;
  font-size: 16px;

  &:hover {
    border-color: ui-colors.$create-post-modal-input-border-hover;
  }

  &:focus {
    border-color: ui-colors.$create-post-modal-input-border-hover;
  }
}

input {
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
}

textarea {
  height: 25vh;
  padding: 10px 10px;
  resize: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  height: 40px;
  width: 130px;
  margin: auto 10px 0 calc(100% - 140px);
  padding: 5px 0;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  background-color: ui-colors.$create-post-modal-button-background;
  color: ui-colors.$create-post-modal-button-text-disabled;

  &:enabled {
    background-color: ui-colors.$create-post-modal-button-background;
    color: ui-colors.$create-post-modal-button-text;
    cursor: pointer;
  }

  &:hover:enabled {
    background-color: ui-colors.$create-post-modal-button-background-hover;
    color: ui-colors.$create-post-modal-button-text;
    cursor: pointer;
  }
}

trd-create-post-subtiredd-select {
  margin-top: 20px;
  border-color: ui-colors.$create-post-modal-input-border;
}
