<div class="header">
  <h2>{{"createPost" | translate}}</h2>
  <span (click)="onCloseClick()" class="material-icons close-icon">close</span>
</div>
<trd-create-post-subtiredd-select [allSubtireddSelectItems]="subtireddSelectItems"
                                  (subtireddSelected)="onSubtireddSelected($event)"></trd-create-post-subtiredd-select>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-tab-group dynamicHeight (selectedTabChange)="onTabSelected($event)">
    <mat-tab label="{{'text' | translate}}">
      <div class="tab">
        <input formControlName="title" [ngClass]="{'error': title.touched && title.invalid}" class="text-input title"
               [placeholder]="'title' | translate">
        <div class="error-display">
          <ng-container *ngIf="title.touched">
            <p *ngFor="let error of title.errors | objectToKeys"
               class="error-message">{{validationErrorsMessageKeys["title"][error] | translate}}</p>
          </ng-container>
        </div>
        <textarea formControlName="text" [ngClass]="{'error': text.touched && text.invalid}" class="text-input"
                  [placeholder]="'text' | translate"></textarea>
        <div class="error-display">
          <ng-container *ngIf="text.touched">
            <p *ngFor="let error of text.errors | objectToKeys"
               class="error-message">{{validationErrorsMessageKeys["text"][error] | translate}}</p>
          </ng-container>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{'image' | translate}}">
      <div class="tab">
        <input formControlName="title" [ngClass]="{'error': title.touched && title.invalid}" class="text-input title" [placeholder]="'title' | translate">
        <div class="error-display">
          <ng-container *ngIf="title.touched">
            <p *ngFor="let error of title.errors | objectToKeys"
               class="error-message">{{validationErrorsMessageKeys["title"][error] | translate}}</p>
          </ng-container>
        </div>
        <textarea formControlName="imageUrl" [ngClass]="{'error': imageUrl.touched && imageUrl.invalid}" class="text-input" [placeholder]="'imageUrl' | translate"></textarea>
        <div class="error-display">
          <ng-container *ngIf="imageUrl.touched">
            <p *ngFor="let error of imageUrl.errors | objectToKeys"
               class="error-message">{{validationErrorsMessageKeys["imageUrl"][error] | translate}}</p>
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>
<button (click)="onSubmit()" [disabled]="form.invalid">
  <span>{{"post" | translate}}</span>
</button>
