<trd-create-comment *ngIf="isUserLoggedIn$ | async" class="create-comment"
                    [postId]="postId"
                    (commentCreated)="onCommentCreated($event)"
></trd-create-comment>
<div *ngIf="!(isUserLoggedIn$ | async)" class="log-in-message">
  <p class="log-in-message-text">{{"logInOrSignUpToComment" | translate}}</p>
  <div class="buttons">
    <button *ngIf="!(isUserLoggedIn$ | async)" class="log-in-button"
            (click)="openAccountModal('login')">{{"logIn" | translate}}</button>
    <button *ngIf="!(isUserLoggedIn$ | async)" class="sign-up-button"
            (click)="openAccountModal('register')">{{"signUp" | translate}}</button>
  </div>
</div>
<trd-comments-list class="comments-list" [comments]="commentsList" [postId]="postId"
                   (commentCreated)="onCommentCreated($event)"></trd-comments-list>
