@use "../../../../style/ui-colors";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid ui-colors.$comments-border;
  background-color: ui-colors.$comments-background;
}

.create-comment {
  display: flex;
  width: calc(100% - 20px);
  margin: 10px 10px;
}

.comments-list {
  margin: 10px 15px;
}
